In [1]:
import pandas as pd

## Load Dataset

In [2]:
# 경로(ex: data/bike/train.csv)는 사용자 설정마다 다를 수 있음.
train = pd.read_csv("train_bike.csv", parse_dates=["datetime"])

print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
test = pd.read_csv("test_bike.csv", parse_dates=["datetime"])

print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

## Preprocessing

### Parse datetime

In [74]:
train["datetime-year"] = train["datetime"].dt.year
train["datetime-month"] = train["datetime"].dt.month
train["datetime-day"] = train["datetime"].dt.day
train["datetime-hour"] = train["datetime"].dt.hour
train["datetime-minute"] = train["datetime"].dt.minute
train["datetime-second"] = train["datetime"].dt.second

print(train.shape)
train[["datetime", "datetime-year", "datetime-month", "datetime-day", "datetime-hour", "datetime-minute", "datetime-second"]].head()

(10886, 23)

,datetime,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second
0,2011-01-01 00:00:00,2011,1,1,0,0,0
1,2011-01-01 01:00:00,2011,1,1,1,0,0
2,2011-01-01 02:00:00,2011,1,1,2,0,0
3,2011-01-01 03:00:00,2011,1,1,3,0,0
4,2011-01-01 04:00:00,2011,1,1,4,0,0

In [116]:
train["commute_time_morning"] = (train["datetime-hour"]>6)&(train["datetime-hour"]<9)
train["commute_time_evening"] = (train["datetime-hour"]>16)&(train["datetime-hour"]<21)
train["cold_atemp_strong"] = (train["atemp"] <=10)
train["cold_atemp_weak"] = (train["atemp"]>10)&(train["atemp"]<=20)
train["warm_atemp_weak"] = (train["atemp"]>20)&(train["atemp"]<=30)
train["warm_atemp_strong"] = (train["atemp"]>30)&(train["atemp"]<=40)
train["hot_atemp"] = (train["atemp"] >40)

In [117]:
test["commute_time_morning"] = (test["datetime-hour"]>6)&(test["datetime-hour"]<9)
test["commute_time_evening"] = (test["datetime-hour"]>16)&(test["datetime-hour"]<21)
test["cold_atemp_strong"] = (test["atemp"] <=10)
test["cold_atemp_weak"] = (test["atemp"]>10)&(test["atemp"]<=20)
test["warm_atemp_weak"] = (test["atemp"]>20)&(test["atemp"]<=30)
test["warm_atemp_strong"] = (test["atemp"]>30)&(test["atemp"]<=40)
test["hot_atemp"] = (test["atemp"] >40)

In [118]:
test["datetime-year"] = test["datetime"].dt.year
test["datetime-month"] = test["datetime"].dt.month
test["datetime-day"] = test["datetime"].dt.day
test["datetime-hour"] = test["datetime"].dt.hour
test["datetime-minute"] = test["datetime"].dt.minute
test["datetime-second"] = test["datetime"].dt.second

print(test.shape)
test[["datetime", "datetime-year", "datetime-month", "datetime-day", "datetime-hour", "datetime-minute", "datetime-second","commute_time_morning","commute_time_evening"]].head()

(6493, 24)

,datetime,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second,commute_time_morning,commute_time_evening
0,2011-01-20 00:00:00,2011,1,20,0,0,0,False,False
1,2011-01-20 01:00:00,2011,1,20,1,0,0,False,False
2,2011-01-20 02:00:00,2011,1,20,2,0,0,False,False
3,2011-01-20 03:00:00,2011,1,20,3,0,0,False,False
4,2011-01-20 04:00:00,2011,1,20,4,0,0,False,False

In [121]:
#feature_names = ["season", "holiday", "workingday", "weather", 
#                 "atemp", "humidity", "windspeed",
#                 "datetime-year", "datetime-month", "datetime-day",
#                 "datetime-hour", "datetime-minute", "datetime-second"]  --> 0.4270
#feature_names = ["season", "holiday", "workingday", "weather", 
#                 "atemp", "humidity", "windspeed",
#                 "datetime-year", "datetime-month", "datetime-day",
#                 "datetime-hour", "datetime-minute", "datetime-second","commute_time_morning","commute_time_evening"]
#score -> 0.4119
#feature_names = ["season", "holiday", "workingday", "weather", 
#                 "atemp", "humidity", "windspeed",
#                 "datetime-year", "datetime-month", "datetime-day",
#                 "datetime-hour", "datetime-minute", "datetime-second",
#                 "commute_time_morning","commute_time_evening","cold_atemp","warm_atemp","hot_atemp"]
#score -> 0.40103
#feature_names = ["season", "holiday", "workingday", "weather", 
#                 "atemp", "humidity",
#                 "datetime-year", "datetime-month", "datetime-day",
#                 "datetime-hour", "datetime-minute", "datetime-second",
#                 "commute_time_morning","commute_time_evening","cold_atemp","warm_atemp","hot_atemp"]
#score -> 0.39921
#feature_names = ["season", "holiday", "workingday", "weather", 
#                 "atemp",
#                 "datetime-year", "datetime-month", "datetime-day",
#                 "datetime-hour", "datetime-minute", "datetime-second",
#                 "commute_time_morning","commute_time_evening","cold_atemp","warm_atemp","hot_atemp"]
#->0.40431
feature_names = ["season", "holiday", "workingday", "weather", 
                 "atemp", "humidity",
                 "datetime-year", "datetime-month", "datetime-day",
                 "datetime-hour", "datetime-minute", "datetime-second",
                 "commute_time_morning","commute_time_evening","cold_atemp_strong","cold_atemp_weak","warm_atemp_weak","warm_atemp_strong","hot_atemp"]
feature_names

['season',
 'holiday',
 'workingday',
 'weather',
 'atemp',
 'humidity',
 'datetime-year',
 'datetime-month',
 'datetime-day',
 'datetime-hour',
 'datetime-minute',
 'datetime-second',
 'commute_time_morning',
 'commute_time_evening',
 'cold_atemp_strong',
 'cold_atemp_weak',
 'warm_atemp_weak',
 'warm_atemp_strong',
 'hot_atemp']

In [122]:
X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(10886, 19)

,season,holiday,workingday,weather,atemp,humidity,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second,commute_time_morning,commute_time_evening,cold_atemp_strong,cold_atemp_weak,warm_atemp_weak,warm_atemp_strong,hot_atemp
0,1,0,0,1,14.395,81,2011,1,1,0,0,0,False,False,False,True,False,False,False
1,1,0,0,1,13.635,80,2011,1,1,1,0,0,False,False,False,True,False,False,False
2,1,0,0,1,13.635,80,2011,1,1,2,0,0,False,False,False,True,False,False,False
3,1,0,0,1,14.395,75,2011,1,1,3,0,0,False,False,False,True,False,False,False
4,1,0,0,1,14.395,75,2011,1,1,4,0,0,False,False,False,True,False,False,False

In [123]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(6493, 19)

,season,holiday,workingday,weather,atemp,humidity,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second,commute_time_morning,commute_time_evening,cold_atemp_strong,cold_atemp_weak,warm_atemp_weak,warm_atemp_strong,hot_atemp
0,1,0,1,1,11.365,56,2011,1,20,0,0,0,False,False,False,True,False,False,False
1,1,0,1,1,13.635,56,2011,1,20,1,0,0,False,False,False,True,False,False,False
2,1,0,1,1,13.635,56,2011,1,20,2,0,0,False,False,False,True,False,False,False
3,1,0,1,1,12.880,56,2011,1,20,3,0,0,False,False,False,True,False,False,False
4,1,0,1,1,12.880,56,2011,1,20,4,0,0,False,False,False,True,False,False,False

In [124]:
label_name = "count"

y_train = train[label_name]

print(y_train.shape)
y_train.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [125]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(random_state=37)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

## Score

Evaluation Metric = **Root Mean Squared Logarithmic Error** (RMSLE)


$$ \sqrt{\frac{1}{n} \sum_{i=1}^n (\log(p_i + 1) - \log(a_i+1))^2 } $$

In [126]:
import numpy as np
from sklearn.metrics import make_scorer

def rmsle(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    log_predict = np.log(predict + 1)
    log_actual = np.log(actual + 1)
    
    difference = log_predict - log_actual
    difference = np.square(difference)
    
    mean_difference = difference.mean()
    
    score = np.sqrt(mean_difference)
    
    return score

rmsle_scorer = make_scorer(rmsle)
rmsle_scorer

make_scorer(rmsle)

In [129]:
from sklearn.model_selection import cross_val_score

score = cross_val_score(model, X_train, y_train,
                        cv=20, scoring=rmsle_scorer).mean()

print("Score = {0:.5f}".format(score))

Score = 0.39660

In [130]:
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

In [131]:
predictions = model.predict(X_test)

print(predictions.shape)
predictions[0:10]

(6493,)

array([  17.1,    5.1,    4.5,    4. ,    2.8,    8.4,   36.6,   92. ,
        208. ,  132.7])

In [132]:
submit = pd.read_csv("sampleSubmission.csv")

print(submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [133]:
submit["count"] = predictions

print(submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   17.1
1  2011-01-20 01:00:00    5.1
2  2011-01-20 02:00:00    4.5
3  2011-01-20 03:00:00    4.0
4  2011-01-20 04:00:00    2.8

In [134]:
submit.to_csv("baseline-script.csv", index=False)